@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /*Primary Color Variables*/
  --pr-brightOrange: hsl(31, 77%, 52%);
  --pr-darkCyan: hsl(184, 100%, 22%);
  --pr-VeryDarkCyan: hsl(179, 100%, 13%);

  /*Secondary Color Variables*/
  --White: hsl(0, 0%, 100%);
  --TransparentWhite: hsla(0, 0%, 100%, 0.75);
  --verylightGray: hsl(0, 0%, 95%);

  /*Font Variables*/
  --font-family-primary: "Big Shoulders Display", cursive;
  --font-family-secondary: "Lexend Deca", sans-serif;

  /*Font Weight Variables*/
  --Bold: 700;
  --regular: 400;
}

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--verylightGray);
  scroll-behavior: smooth;
}

.cardWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Flex-container {
  display: flex;
  flex-direction: row;
  gap: 0;
  max-width: max-content;
  transform: scale(1.2);
}

/* Basic Card styling */
.Card {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 2rem;
  padding: 2rem;
  transition: 400ms ease-in-out;
}
img {

  transition: 300ms ease-in-out;
}
.Card .header {
  font-size: 1.5rem;
  font-family: var(--font-family-primary);
  font-weight: var(--Bold);
  color: var(--verylightGray);
  text-transform: uppercase;
  font-size: 2rem;
  transition: 300ms ease-in-out;
}
.Sedans {
  background-color: var(--pr-brightOrange);
  border-radius: 0.3rem 0 0 0.3rem;
  transition: 300ms ease-in-out;
}
.SUV {
  background-color: var(--pr-darkCyan);
  transition: 300ms ease-in-out;
}
.LUX {
  background-color: var(--pr-VeryDarkCyan);
  border-radius: 0 0.3rem 0.3rem 0;
  transition: 300ms ease-in-out;
}

.Card p {
  font-family: var(--font-family-secondary);
  font-weight: var(--regular);
  color: var(--TransparentWhite);
  text-transform: none;
  max-width: 12rem;
  max-height: 8rem;
  font-size: 0.85rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  transition: 300ms ease-in-out;
}

.Card .btn {
  background-color: var(--verylightGray);
  text-decoration: none;
  font-family: var(--font-family-secondary);
  font-weight: var(--Bold);
  font-size: 0.8rem;
  padding: 0.7rem 1.7rem;
  border: 2px solid var(--verylightGray);
  border-radius: 25rem;
  color: black;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  mix-blend-mode: screen;
  margin: 1rem 0;
  transition: 300ms ease-in-out;
}

/* attribution section */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  overflow: hidden;
}
.footerblk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--White);
  font-family: var(--font-family-secondary);
  font-size: 0.8rem;
  padding-top: 0.2rem;
  text-align: center;
  transition: 300ms ease-in-out;
}

/* @Media for detecting hover capability if true adds hover anim */
@media (hover: hover) {
  footer:hover .footerblk {
    transform: translateY(-0%);
  }
  .footerblk {
    transform: translateY(100%);
    text-align: center;
    transition: 300ms ease-in-out;
  }

  .Card:hover {
    padding: 2rem 3rem;
  }
  .btn:hover {
    background-color: black;
    border: 2px solid var(--verylightGray);
    mix-blend-mode: screen;
    color: var(--White);
  }

  /* Css Target hover then change all except hover target */
  .Flex-container:hover .Card:not(:hover)  {
    padding: 2rem 1.5rem;
  }
  .Flex-container:hover .Card:not(:hover) .header, .Flex-container:hover .Card:not(:hover) .btn, .Flex-container:hover .Card:not(:hover) p , .Flex-container:hover .Card:not(:hover) img {
    opacity: 50%;
  }
}

/* media quiery for mobile  */
@media screen and (max-width: 600px) {


  .cardWrapper {
  top:85%;

  }
  
  .Flex-container {
    flex-direction: column;
    transform: scale(1);
    margin: 1rem 0;

  }

  .Card {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: .5rem;
    padding: 2rem;
    padding-top: 2.5rem;
    min-width: 12rem;
  }
  .Card .header {
    font-size: 1.2rem;
    font-family: var(--font-family-primary);
    font-weight: var(--Bold);
    color: var(--verylightGray);
    text-transform: uppercase;
    font-size: 2rem;
    transition: 300ms ease-in-out;
  }
  .Card p {
    font-family: var(--font-family-secondary);
    font-weight: var(--regular);
    color: var(--TransparentWhite);
    text-transform: none;
    max-width: 11rem;
    max-height: 8rem;
    font-size: 0.7rem;
    line-height: 1.3rem;
    margin-bottom: 0rem;
    transition: 300ms ease-in-out;
  }

  .Sedans {
    border-radius: 0.3rem .3rem 0 0rem;
  }

  .LUX {
    border-radius: 0 0 0.3rem .3rem;
  }

  footer {
    position: absolute;
    bottom: -75%;
    width: 100%;
    padding-top: 50px;
    overflow: hidden;
  }

  .btn:active {
    background-color: black;
    border: 2px solid var(--verylightGray);
    mix-blend-mode: screen;
    color: var(--White);
  }
}